{% block content %}
{% endblock content %}
<div class="seperate"></div>
<footer>
    <div id="wrapper">
        <div class="maker">
            <p class="maker1"> 사이트 만든 사람 </p>
            <p class="maker2"> 이다혜 김가은 조승한 김세령</p>
            <P class="maker2"> 2020 GNU 멋쟁이 사자처럼 8기</P>
        </div>
        <div id="menu">
            <div> <span> 사용법</span>
                <p class="arrow_box">1.make new버튼을 클릭한다 <br>2.링크를 칭구들에게 공유한다  </p>
            </div>
        </div>
    </div>
</footer> 
<!-- 이거지우면돼 -->