{% extends 'LivePlaylist/base.html' %}
{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static 'LivePlaylist/index.css' %}">
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
{% endblock head %}


{% block content %}
    <div id="header">
        <img class="picsong" src="{% static 'LivePlaylist/song.png' %}">
        <div class="live">실시간 공유 플레이리스트</div>
    </div>
    <a class="button" href="{% url 'playlist' blog.id %}">make new!</a>
{% endblock content %}
