{% extends 'LivePlaylist/base.html' %}
{% load static %}

{% block head %}
	<link rel="stylesheet" href="{% static 'LivePlaylist/LivePlaylist.css' %}">
	<link rel="stylesheet" media="(max-width:480px)" href="{% static 'LivePlaylist/moblie_LivePlaylist.css' %}">

	<!-- touch slider -->
	<link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.css">
	<link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css">

	<script src="https://unpkg.com/swiper/swiper-bundle.js"></script>
	<script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>

	<!-- CSS only -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

	<!-- JS, Popper.js, and jQuery -->
	<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
{% endblock head %}


{% block content %}
	<div class="search__container">
		<p class="search__title">
			<img class="picsong" src="{% static 'LivePlaylist/song.png' %}">
			<a href="{% url 'index' %}">
			실시간 공유 플레이리스트
			</a>
		</p>
		<div class="wrapper1">
			<div class="search1">
				<input type="text" name="search" id="search__input" placeholder="Search">
			</div>
			<div class="search2">
				<a id="btn_search" type="submit"><img src="{% static 'LivePlaylist/search.png' %}" width='24' height='24' /></a>
			</div>
		</div>
	</div>

	<div class="swiper-container">
		<div class="swiper-wrapper">
			<div class="swiper-slide">
				<h3>playlist</h3>
				<div class="music_player">
					<iframe width="224" height="126" src="https://www.youtube.com/embed/xGevsZco2EM" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>	
				</div>
				<div id="load_playlist"></div>
			</div>
			<div class="swiper-slide">
				<h3>검색 결과</h3>
				<div id="road_search"></div>
			</div>
		</div>
		<div class="swiper-pagination"></div>
	</div>

<script src="{% static 'LivePlaylist/moblie_LivePlaylist.js' %}"></script>
<script>
	$('#btn_search').click(function(){
		if($('#search__input').val() == ''){
			alert('검색어를 입력해주세요.')
		}else{
	   		$('#load_search').load('/search_result?q='+encodeURI($('#search__input').val()))
		}
	});

	$('#load_playlist').load('/load_playlist')
</script>
{% endblock content %}
