@font-face {
    font-family: 'Recipekorea';
    src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/Recipekorea.woff") format('woff');
    font-weight: normal;
    font-style: normal;
}
@import url('https://fonts.googleapis.com/css?family=Raleway:400,700,900');

/* .start_btn {
    position: absolute;
    width: 493px;
    height: 32px;
    left: 520px;
    top: 110px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    border: solid 4px #6a60a9;
    border-radius: 255px 15px 225px 15px/15px 225px 15px;
}
.start_btn > input {
    border: none;
    text-align: center;
    font-family: 'Recipekorea';
    font-size: 17px;
    width: 480px;
} */

.search__container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.search__title {
    font-size: 30px;
    font-weight: 900;
    text-align: center;
    font-family: 'Recipekorea';
    margin-top: 1rem;
    /* color: #ff8b88; */
}
.picsong {
    width: 40px;
    height: 40px;
}
.search__input {
    width: 40%;
    padding: 12px 24px;

    background-color: transparent;
    transition: transform 250ms ease-in-out;
    font-size: 14px;
    line-height: 18px;
        
    color: #575756;
    background-color: transparent;
/*  background-image: url(http://mihaeltomic.com/codepen/input-search/ic_search_black_24px.svg); */
 
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath d='M15.5 14h-.79l-.28-.27C15.41 12.59 16 11.11 16 9.5 16 5.91 13.09 3 9.5 3S3 5.91 3 9.5 5.91 16 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z'/%3E%3Cpath d='M0 0h24v24H0z' fill='none'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-size: 18px 18px;
    background-position: 95% center;
    border-radius: 50px;
    border: 1px solid #575756;
    transition: all 250ms ease-in-out;
    backface-visibility: hidden;
    transform-style: preserve-3d;
}
.search__input::placeholder {
    color: color(#575756 a(0.8));
    text-transform: uppercase;
    letter-spacing: 1.5px;
}
.search__input:hover, .search__input:focus {
    padding: 12px 0;
    outline: 0;
    border: 1px solid transparent;
    border-bottom: 1px solid #575756;
    border-radius: 0;
    background-position: 100% center; 
}

/* .search__btn {
    position: absolute;
    width: 125px;
    height: 32px;
    left: 1030px;
    top: 110px;
    background-color: #fbd14b;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    border: solid 4px #fbd14b;
    border-radius: 255px 15px 225px 15px/15px 225px 15px;
}

.search__btn > button {
    border: none;
    text-align: center;
    background-color: #fbd14b;
    font-family: 'Recipekorea';
    font-size: 17px;
    width: 120px;
} */

.swiper-container {
    height: 75vh;
}

.swiper-wrapper {
    display: flex;
    justify-content: space-evenly;
}

.swiper-slide {
    /* width: 500px;
    height: 550px;
    left: 155px;
    top: 180px; */
    /* margin: 20px;
    font-family: 'Recipekorea';
    background-color: #fffcf0;
    line-height: 35px;
    border: solid 6px #dedcee;
    padding: 40px;
    font-size: 25px;
    border-radius: 255px 15px 225px 15px/15px 225px 15px; */
    width: 40% !important;
    background-color: pink;
    margin-top: 20px;
    padding-top: 1rem;
    
}

.music_player {
    background-color: tomato;
}

.swiper-slide > a {
    color: black; 
    text-decoration: none; 
    outline: none;
    display: block;
}


