@font-face {
    font-family: 'Recipekorea';
    src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/Recipekorea.woff") format('woff');
    font-weight: normal;
    font-style: normal;
}
.title {
    position: absolute;
    width: 330px;
    height: 28px;
    left: 200px;
    top: 110px;
    font-size: 30px;
    font-family: 'Recipekorea';
    line-height: 28px;
}

.start_btn {
    position: absolute;
    width: 493px;
    height: 32px;
    left: 520px;
    top: 110px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    border: solid 4px #6a60a9;
    border-radius: 255px 15px 225px 15px/15px 225px 15px;
}

.start_btn > input {
    border: none;
    text-align: center;
    font-family: 'Recipekorea';
    font-size: 17px;
    width: 480px;
}

.search_btn {
    position: absolute;
    width: 125px;
    height: 32px;
    left: 1030px;
    top: 110px;
    background-color: #fbd14b;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    border: solid 4px #fbd14b;
    border-radius: 255px 15px 225px 15px/15px 225px 15px;
}

.search_btn > button {
    border: none;
    text-align: center;
    background-color: #fbd14b;
    font-family: 'Recipekorea';
    font-size: 17px;
    width: 120px;
}

#list {
    position: absolute;
    width: 500px;
    height: 550px;
    left: 155px;
    top: 180px;
    font-family: 'Recipekorea';
    background-color: #fffcf0;
    line-height: 35px;
    border: solid 6px #dedcee;
    padding: 40px;
    font-size: 25px;
    border-radius: 255px 15px 225px 15px/15px 225px 15px;
}

#list > h1 {
    font-size: 30px;
}

#result {
    position: absolute;
    width: 500px;
    height: 550px;
    left: 800px;
    top: 183px;
    font-family: 'Recipekorea';
    background-color: #fffcf0;
    line-height: 35px;
    border: solid 6px #dedcee;
    padding: 40px;
    font-size: 25px;
    border-radius: 255px 15px 225px 15px/15px 225px 15px;
}

#result > h1 {
    font-size: 30px;
}
