.search__title {
    font-size:20px;
}

.search__input {
    width: 100%;
}

.swiper-container {
    width: 100%;
    height: 80vh;
}
.swiper-wrapper {
    display: flex;
    justify-content: flex-start;
}
.swiper-slide {
    background-color: yellow;
    margin-top: 3px;
    padding: 3px;
    width: 100% !important;
}
#menu,.maker{
    display: none;
}
#searchlist{  
    display: flex !important;
}
.col-md-4{
    flex: 1;
}
.col-md-6{
    flex: 3;
}
.col-md-2{
    flex: 1;
    padding-top: 60px;
    right: -15gpx;
}

